<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">scrappr</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a {{navLink href='articles'}}>Articles <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a {{navLink href='articles/saved'}}>Saved Articles</a>
      </li>
    </ul>
    <button id="scrape" class="btn btn-outline-success my-2 my-sm-0 mr-3" type="submit">Scrape</button>
    <button id="clear" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Clear</button>
  </div>
</nav>
<script defer>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('scrape').onclick = () => console.log('scrape');
    document.getElementById('clear').onclick = () => console.log('clear');
  });
</script>